@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#main-header {
    background-color: #ff00ff;
    padding-block: 15px;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.38); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.38);
    transition: 0.5s 0.1s all linear;
}

#main-header > div {
    align-items: center;
}

#main-logo {
    display: flex;
    justify-content: center;
}
  #main-logo .fanshawe-logo {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/fanshawe-icon.svg);
  }



#burger {
    background-image: url(../images/burger_menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    aspect-ratio: 1/1;
    width: 2rem;
}
    #burger.clicked {
        transform: rotate(90deg);
    }


#main-nav {
    height: 0;
    z-index: -1;
    transform: translateY(-5px);
    transition: 0.1s all ease-out;
    background-color: #ffff00;
}

#burger-con {
    display: none;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}
    #burger-con li {
        border-radius: 50px;
    }
    #burger-con li:hover {
        background-color: #c3c3c3;
    }
    #burger-con li a {
        display: block;
        padding: 10px 20px;
        color: #ff2333;
        font-weight: 600;
        text-decoration: none;
    }

#burger-con.collapsible {
    display: flex; 
    transform: translateY(0);
    margin-top: 10px;
}

#main-nav:has(#burger-con.collapsible) {
    height: 100px;
}

#main-header:has(+#main-nav:has(#burger-con.collapsible)) {
    padding-bottom: 11px;
}

@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }
}






/* Video Player */
.custom-video {
    margin-block: 1rem;
    position: relative;
    /* allow the video to expland to full screen and stack properly */
    display: flex;
    flex-direction: column;
}

.custom-video video::cue {
  background-color: red;
}


.video-controls {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.25rem 1rem 0.5rem;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1));
    display: none;
    transition: all 0.5s ease;
}

.video-controls.hide {
  animation: stay 3s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  pointer-events: none;
}

@keyframes stay {
  0% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}



.video-controls button {
    padding: 0;
    border: 0;
    position: relative;
    background-color: transparent;

    +button {
      margin-left: 10px;
    }
}

.video-controls button:focus-visible, .video-range:focus-visible {
  outline: 2px solid white;
  outline-offset: 1px;
}

.player-icon {
    color: red;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.2s color linear;
}

.player-icon:hover {
  color: #ff6868;
}

.stop {
  display: none;
  margin-right: 1rem;
}

.volume {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
}

.volume:hover .vol {
  margin-right: 10px;
}

.caption {
  display: none;
}


.videotext {
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0.95rem;
}



.video-range {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
.video-range:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.video-range::-webkit-slider-runnable-track {
  background-color: #187bec;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.video-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: red;
  transition: 0.2s all linear;
}



.video-range::-webkit-slider-thumb:hover {
  background-color: #f93f3f;
}

.video-range:focus-visible::-webkit-slider-thumb {
  outline: 2px solid white;
  outline-offset: 0.125rem;
} 


.seeking {
  width: 100%;
  padding-inline: 15px;  
  display: flex;
  align-items: center;
}


#change-vol {
  display: none;
  width: 0;
  visibility: 0;
}


#timeseek {
  width: 100%;
}
 .seeking:has(+.volume:hover) #timeseek {
    display: none;
  }

#change-vol::-webkit-slider-thumb {
  margin-top: -4px; /* Centers thumb on the track */
  border-radius: 0.2rem;
  height: 1.25rem;
  width: 1rem;
}


#timeseek::-webkit-slider-thumb {
  border: #8fc3fe 3px solid;
  margin-top: -6px;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

#timeseek:not(:hover)::-webkit-slider-thumb {
  border: #8fc3fe 3px solid;
  background-color: transparent;
}

/*********** Firefox styles ***********/
/* slider track */
.video-range::-moz-range-track {
  background-color: #187bec;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.video-range::-moz-range-thumb {
  background-color: red;
  border: none; /*Removes extra border that FF applies*/
}

.video-range::-moz-range-thumb:hover {
  transition: 0.2s all linear;
  background-color: #f93f3f;
}

.video-range:focus::-moz-range-thumb{
  outline: 2px solid white;
  outline-offset: 0.125rem;
}

#change-vol::-moz-range-thumb {
  border-radius: 0.2rem;
  height: 1.25rem;
  width: 1rem;
}

#timeseek::-moz-range-thumb {
  border: #8fc3fe 3px solid;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

#timeseek:not(:hover)::-moz-range-thumb {
  border: #8fc3fe 3px solid;
  background-color: transparent;
}


@keyframes expand {
  0% {width: 0;}
  75% {width: 7rem;}
  100% {width: 7rem;}
}

@media screen and (min-width: 768px) {
.player-icon{
  margin-left: 1.25rem;
}

.stop {
  display: block;
}

#change-vol::-webkit-slider-thumb {
  margin-top: -0.325rem;
}

#timeseek::-webkit-slider-thumb {
  margin-top: -0.5rem;
}

.seeking:has(+.volume:hover) #timeseek {
  display: unset;
}
}

@media screen and (min-width: 380px) {
  .video-controls {
    padding: 1.25rem;
  }

  .volume:hover #change-vol {
    display: block;
    animation: expand 0.5s 0.1s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  }

  .video-range {
    display: inline-block;
  }

  .caption {
    display: block;
  }
}


@media screen and (min-width: 240px) {
  .video-controls {
    display: flex;
  }
}

@media (pointer:none), (pointer:coarse) {
  .video-controls button:focus-visible{
    outline: none;
  }
}


/* Media Queries */
@media screen and (min-width: 768px) {
  #main-logo .fanshawe-logo {
    width: 100%;
    height: 50px;
    background-image: url(../images/fanshawe-logo.svg);
  }
}


