@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#main-header {
    background-color: #ff00ff;
    padding-block: 15px;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.38); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.38);
    transition: 0.5s 0.1s all linear;
}

#main-header > div {
    align-items: center;
}

#main-logo {
    display: flex;
    justify-content: center;
}
  #main-logo .fanshawe-logo {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/fanshawe-icon.svg);
  }



#burger {
    background-image: url(../images/burger_menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    aspect-ratio: 1/1;
    width: 2rem;
}
    #burger.clicked {
        transform: rotate(90deg);
    }

#main-nav {
    transform: translateY(-5px);
    transition: 0.1s all ease-out;
    background-color: #ffff00;
}

#burger-con {
    display: none;
    list-style: none;
    padding: 0;
}
    #burger-con li {
      width: 100%;
      display: block;
      text-align: center;
      cursor: pointer;
      padding: 10px 0;
    }
    #burger-con li:hover{
        background-color: #c3c3c3;
    }
    #burger-con li a {
        color: #ff2333;
        font-weight: 600;
        text-decoration: none;
    }

#burger-con.collapsible {
    display: block;
    transform: translateY(0);
    margin-top: 20px;
}


@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }
}

/* Media Queries */
@media screen and (min-width: 768px) {
  #main-logo .fanshawe-logo {
    width: 100%;
    height: 50px;
    background-image: url(../images/fanshawe-logo.svg);
  }
}


